<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title th:text="${paginaTitel} ?: 'SkiRental'"></title>
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            Rent-A-Ski Sappemeer
        </a>
        <div class="navbar-nav ms-auto">
            <a class="nav-link"
               th:classappend="${activePage == 'skis'} ? 'active fw-bold' : ''"
               href="/ski/all">Skis</a>
            <a class="nav-link"
               th:classappend="${activePage == 'snowboards'} ? 'active fw-bold' : ''"
               href="/snowboard/all">Snowboards</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Beheer
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="nav-link"
                           th:classappend="${activePage == 'type'} ? 'active fw-bold' : ''"
                           sec:authorize="hasRole('ADMIN')"
                           href="/type">Typebeheer</a></li>
                    <li> <a class="nav-link"
                            th:classappend="${activePage == 'user'} ? 'active fw-bold' : ''"
                            sec:authorize="hasRole('ADMIN')"
                            th:href="@{/users}">Gebruikersbeheer</a></li>
                    <li><a class="nav-link" th:classappend="${activePage == 'customers'} ? 'active fw-bold' : ''"
                             href="/customer/all" sec:authorize="hasRole('ADMIN')">Klantenbeheer</a></li>
                </ul>
            </li>
<!--            <a class="nav-link"-->
<!--               th:classappend="${activePage == 'type'} ? 'active fw-bold' : ''"-->
<!--               sec:authorize="hasRole('ADMIN')"-->
<!--               href="/type">Typebeheer</a>-->
<!--            <a class="nav-link"-->
<!--               th:classappend="${activePage == 'user'} ? 'active fw-bold' : ''"-->
<!--               sec:authorize="hasRole('ADMIN')"-->
<!--               th:href="@{/users}">Gebruikersbeheer</a>-->
<!--            <a class="nav-link" th:classappend="${activePage == 'customers'} ? 'active fw-bold' : ''"-->
<!--               href="/customer/all" sec:authorize="hasRole('ADMIN')">Klantenbeheer</a>-->


            <a class="nav-link"
               sec:authorize="isAnonymous()"
               th:href="@{/login}">Inloggen</a>
            <a class="nav-link"
               sec:authorize="isAuthenticated()"
               th:href="@{/logout}">Uitloggen</a>
        </div>
    </div>
</nav>


<footer th:fragment="footer" class="mt-5 py-3 border-top text-muted text-center">
    <p>Skiverhuur &mdash; Sappemeer</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</footer>

</body>
</html>