<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="~{fragments/general :: header}"></title>
</head>
<body>

<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container mt-5 text-center">
    <img th:src="@{/images/SkiverhuurLogo.png}" alt="Logo" width="120px" class="mb-3"/>
    <h1 class="mb-2">Welkom bij Rent-A-Ski Sappemeer</h1>
    <p class="text-muted">Gemaakt door <span th:text="${naam}">Naam</span> &mdash; <span th:text="${datum}">Datum</span></p>

    <a href="/ski/all" class="btn btn-success mt-3">Bekijk alle skis</a>
    <a href="/snowboard/all" class="btn btn-success mt-3">Bekijk alle snowboards</a>
    <a href="http://localhost:8080/over-ons.html/" class="btn btn-info mt-3">Informatie over ons</a>


</div>
<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>